﻿@model  List<Task24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>All Supervisors</title>
</head>
<body>
    <div class="container">
        <h2>List of supervisors</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tr>
            @foreach (Supervisor supervisor in Model) {
            <tr>
                <td>@supervisor.Name</td>
                <td>@supervisor.IsAvailable.ToString()</td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
