﻿@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div class="text-center">
        <h1>Task 26</h1>
        <div>

            @ViewBag.Message
            <br /><br />
            <a class="btn btn-primary" asp-action="SupervisorInfo">Click here to add a supervisor</a>
            <a class="btn btn-primary" asp-action="SupervisorListWithS">See list of supervisors with S</a>
        </div>
    </div>
    <br />
    <div class="container">
        <h2>Supervisor sample data</h2>
        <ul>
            @foreach (string supervisor in Model) {
                <li>@supervisor</li>
            }
        </ul>
    </div>
</body>
</html>
