﻿@model IEnumerable<Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorListWithS</title>
</head>
<body>
    <div class="container">
        <h2>Supervisors with names starting with S</h2>
        <ul>
            @foreach (var name in Model) {
                <li>@name.Name</li>
            }
        </ul>
    </div>
</body>
</html>
