﻿@model Task24.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/StyleValidation.css" />
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <div class="col-md-4 col-md-offset-4">
        <h2>Add supervisor</h2>
        <form asp-action="SupervisorInfo" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Id">Supervisor ID:</label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="IsAvailable">Supervisor availability:</label>
                <select class="dropdown" style="width:100%;" asp-for="IsAvailable">
                    <option value="null">Select</option>
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                </select>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Add</button>
        </form>
    </div>
    </body>
</html>
